footer {
  background-color: #808285;
  padding-top: 5rem;
}
.footerBarnd {
  padding-right: 1rem;
}
.footerBarnd .navbar-brand {
  font-size: 1.6rem;
  color: #fff;
}
.footerBarnd .brandName {
  color: #fff;
  display: block;
  font-weight: 600;
  font-size: 2rem;
}
.footerBarnd .mainText {
  margin-top: 1.3rem;
  color: #fff;
  line-height: 1.2;
  font-size: 0.9rem;
  font-weight: 300;
}
.footerLinksCol .mdHeading {
  text-align: left;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.footerLinksCol .mdHeading:hover {
  text-decoration: underline;
}

.footerLinkList {
  list-style: none;
  padding: 0;
}

.footerLinkList .footerLink {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 300;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 0.3rem;
  transition: all 0.3s ease;
}
.footerLinkList .footerLink:hover {
  text-decoration: underline;
}
.footerLinkList .footerLink.active {
  text-decoration: underline;
}
.socilLink {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.socialIcon {
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.socialIcon:hover {
  color: #d6bfbfcc;
  transform: translateY(-5px);
}
.copyright {
  margin-top: 4rem;
  text-align: center;
  padding: 1.3rem 0;
  border-top: 1px solid #d6bfbfcc;
}
.copyright .mainText {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
}

footer .phoneNumberText {
  color: #fff;
  font-size: 1rem;
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  transition: all 0.2s ease-in;
}
footer .phoneNumberText:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .footerBarnd {
    padding-right: 0;
    padding-bottom: 2rem;
  }
  .footerLinksCol .mdHeading {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  .footerBarnd .navbar-brand {
    font-size: 1.3rem;
  }
  .footerBarnd .brandName {
    font-size: 1.6rem;
  }
  .copyright .mainText {
    font-size: 0.8rem;
  }
}
